{
  "presets": [
	"es2015",
	"stage-3",
	"stage-0",
	"react"
  ],
  "compact": "false",
  "plugins": [
	"transform-decorators-legacy"
  ],
  "env": {
	"development": {
	  "presets": [],
	  "plugins": [["react-transform", {
		"transforms": [{
		  "transform": "react-transform-hmr",
		  "imports": ["react"],
		  "locals": ["module"]
		}]
	  }]]
	},
	"production": {
	  "presets": [],
	  "plugins": []
	}
  }
}
