{
  "parser": "babel-eslint",
  "env": {
	"browser": true,
	"es6": true,
	"mocha": true
  },
  "parserOptions": {
	"ecmaVersion": 6,
	"sourceType": "module",
	"ecmaFeatures": {
	  "jsx": true,
	  "generators": true,
	  "modules": true,
	  "objectLiteralDuplicateProperties": true
	}
  },
  "extends": "airbnb",
  "rules": {
	"no-underscore-dangle": 0,
	"import/extensions": 0,
	"import/no-unresolved": 0,
	"import/prefer-default-export": 1,
	"no-restricted-syntax": 1,
	"guard-for-in": 1
  }
}